<div class="card">
  <%= link_to image_tag(plan.image, class: :card__img ), plan_path(plan.id)%>
  <div class="card__body">
    <%= link_to plan.title, plan_path(plan.id), class: :card__title%>
    <%= link_to plan.trip.name, root_path, class: :card__user %>
  </div>
</div>